* {
  margin: 0;
  border: 0;
}

nav {
  margin-bottom: 2rem;
}

.nav-link {
  color: #fff;
  font-weight: 600;
}

.nav-link:hover {
  color: yellow;
}

.container {
  margin-bottom: 1rem;
}

.card {
  background-color: #dcdcdc;
}

h6 {
  color: #a33738;
  font-weight: 800;
}

.btn-package {
  background-image: linear-gradient(to bottom, #ff589b 0% , #ff136f 100%);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  color: #fff;
  border: none;
  padding: 15px 35px;
  border-radius: 8px;
}

.btn-subscribe {
  background-image: linear-gradient(to bottom, #f7f7f7 0% , #ccc9ca 100%);
  font-size: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
  border: none;
  padding: 15px 35px;
  border-radius: 8px;
}

#subscribe {
  background-color: #a33738;
  color: #fff;
  padding: 2em 0em;
}

.form-control {
  margin-bottom: 1em;;
}

footer {
  background-color: #000000d5;
  color: #ffffff;
}

.bi {
  margin-right: 20px;
}

.text-muted a{
  color: #dcdcdc;
  text-decoration: none;
}